<nav class="navbar fixed-bottom navbar-light bg-light justify-content-center">
    <span>Made by <a href="http://aajii.fi">Antti-Juho Nieminen</a>. <a href="mailto:antti-juho.nieminen@aalto.fi">Contact</a>    </email></span>
  </nav>
</body>
</html>