<%- include('./partials/header.ejs') %>
<div class="container">
    <br>
    <h1 class="text-center">Well-come to</h1>
    <h1 class="display-3 text-center font-weight-bold">WellBoing</h1><br>
    <br><br>
    <p class="text-center"><a href="/auth/login" class="badge badge-primary">Login</a> to see your stats and report your daily activities<br>
        <a href="/auth/register" class="badge badge-success">Register</a> to start monitoring your own wellbeing and time management.</p>
    <br><br>
    <div class="jumbotron">
        <h1 class="display-4 text-left">What can you do with WellBoing?</h1>
        <p class="lead text-left">You can...<br>...<b>monitor</b> your sleep, time management and sporting habits<br>...<b>gain insights</b> from your past data through extensive reports<br>...<b>see your progress</b> on becoming the healthyand stress-free person you always wanted!</p>
    </div>
</div>
<%- include('./partials/footer.ejs') %>