<%- include('./partials/userHeader.ejs') %>
<script src="/static/summaryEdits.js" defer></script>

<div class = "container">
  <br>
    <h1>Here at last!</h1>
    <br>
    <a class="btn btn-info btn-lg" href="/behavior/summary">Summary of data</a>
    <a class="btn btn-info btn-lg" href="/report/morning">Morning report</a>
    <a class="btn btn-info btn-lg" href="/report/Evening">Evening report</a>
<%- include('./partials/footer.ejs') %>